body {
	font-family: 'Lato', sans-serif;
}
strong {
	font-family: 'Lato:b', sans-serif;
}
.hcs-red {
	background-color: #A0333D !important;
}
.hcs-green {
	background-color: #8bc441 !important;
}
.hcs-black {
	background-color: #4e4e4e !important;
}
.hcs-black.lighten-1 {
	background-color: #818181 !important;
}
.hcs-black.lighten-2 {
	background-color: #a7a9ac !important;
}
.hcs-black.lighten-3 {
	background-color: #d1d3d4 !important;
}
.hcs-black.lighten-4 {
	background-color: #e6e7e8 !important;
}
.hcs-red-text {
	color: #A0333D !important;
}
.hcs-green-text {
	color: #8bc441 !important;
}
.hcs-black-text {
	color: #4e4e4e !important;
}
.dropdown:hover .dropdown-menu {
	display: block !important;
}
.dropdown-toggle::after {
    display:none !important;
}

.dropdown .dropdown-menu.dropdown-hcs-red .dropdown-item:hover, .dropdown .dropdown-menu.dropdown-hcs-red .dropdown-item:active, .dropdown .dropdown-menu.dropdown-hcs-red .dropdown-item.active,
.dropup .dropdown-menu.dropdown-hcs-red .dropdown-item:hover,.dropup .dropdown-menu.dropdown-hcs-red .dropdown-item:active,.dropup .dropdown-menu.dropdown-hcs-red .dropdown-item.active,
.dropleft .dropdown-menu.dropdown-hcs-red .dropdown-item:hover,.dropleft .dropdown-menu.dropdown-hcs-red .dropdown-item:active,.dropleft .dropdown-menu.dropdown-hcs-red .dropdown-item.active,
.dropright .dropdown-menu.dropdown-hcs-red .dropdown-item:hover,.dropright .dropdown-menu.dropdown-hcs-red .dropdown-item:active,.dropright .dropdown-menu.dropdown-hcs-red .dropdown-item.active {
	background-color: #A0333D !important;
	-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 0.125rem;
	border-radius: 0.125rem;
}
.dropdown .dropdown-menu.dropdown-hcs-red .dropdown-item:hover.disabled, .dropdown .dropdown-menu.dropdown-hcs-red .dropdown-item:active.disabled, .dropdown .dropdown-menu.dropdown-hcs-red .dropdown-item.active.disabled,
.dropup .dropdown-menu.dropdown-hcs-red .dropdown-item:hover.disabled,.dropup .dropdown-menu.dropdown-hcs-red .dropdown-item:active.disabled,.dropup .dropdown-menu.dropdown-hcs-red .dropdown-item.active.disabled,
.dropleft .dropdown-menu.dropdown-hcs-red .dropdown-item:hover.disabled,.dropleft .dropdown-menu.dropdown-hcs-red .dropdown-item:active.disabled,.dropleft .dropdown-menu.dropdown-hcs-red .dropdown-item.active.disabled,
.dropright .dropdown-menu.dropdown-hcs-red .dropdown-item:hover.disabled,.dropright .dropdown-menu.dropdown-hcs-red .dropdown-item:active.disabled,.dropright .dropdown-menu.dropdown-hcs-red .dropdown-item.active.disabled {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.dropdown-hcs-red .dropdown-content li.active, .dropdown-hcs-red .dropdown-content li a, .dropdown-hcs-red .dropdown-content li span:hover {
	background-color: #A0333D !important;
}

.dropdown-hcs-red .dropdown-content li.disabled.active {
	background-color: transparent !important;
}

.dropdown-hcs-red .search-wrap input:focus {
	border-bottom: 1px solid #A0333D;
	-webkit-box-shadow: 0 1px 0 0 #A0333D;
	box-shadow: 0 1px 0 0 #A0333D;
}

.dropdown-item .chas {
	background-color: #603880 !important;
}