<% /*
  views/partials/footer.ejs

  Site footer using Tailwind CSS.
*/ %>

<footer class="py-6 text-center text-xs text-gray-400">
  &copy; <span id="js-start-year"></span>-<span id="js-year"></span> <%= site.name %>. All rights reserved. v<%= appInfo.version %>.
</footer>

<script src="/js/site.js" defer></script>
