<!doctype html>
<html lang="en" class="h-full">
  <head>
    <%- include('partials/head') %>
  </head>
  <body class="h-full bg-gradient-to-b from-gray-50 to-white antialiased">

    <div class="grid min-h-full grid-rows-[auto_1fr_auto]">

      <%- include('partials/header') %>

      <%- body %>

      <%- include('partials/footer') %>

    </div>

  </body>
</html>
